@charset "UTF-8";


footer{
	background:#ffffff;
	text-align: center;
	padding: 3rem;
}

footer ul{
	display: flex;
	justify-content: center;
	margin-bottom: 2rem;
}

footer li{
	margin: 0 12px;
}

footr a{
	color: #c7c3ba;
}

footer a:hover {
	color: #c7c3ba;
}

footer small{
	color: #c7c3ba;
	font-size: .875rem;
}
