@charset "UTF-8";

/* 회원가입 css */
.singup{
	background-color: #fafafa;
	height: 800px;
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}

.pagetitle{
	text-align: center;
	font-size: 30px;
	color: #525ddd;
}



#mname{
	background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    height: 30px;
    width: 300px;
    margin-bottom: 20px;
}

#mid{
	background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    height: 30px;
    width: 300px;
    margin-bottom: 20px;
}

#mpw{
	background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    height: 30px;
    width: 300px;
    margin-bottom: 20px;
}

#mphone{
	background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    height: 30px;
    width: 300px;
    margin-bottom: 20px;
}





textarea{	/*	이용약관 박스 고정	*/
	width: 100%;
	resize: none;
	height: 3.25em;
	
}

/*==============*/



/*  button css  */




.find_btn{
	text-align: center;
}
.find_btn1{
	display :inline-block;
	padding: 3px 5px;
	font-size: 19px;
	background: #fafafa;
    box-shadow: -15px 15px 29px #b2b2b2, 15px -15px 29px #ffffff;
    border-radius: 50px;
}








