@charset "UTF-8";

.findidbox{
	background-color: #fafafa;
	height: 800px;
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 0 auto;	
    font-size: 20px;
    font-family: 'GongGothicMedium';
}



.hdfind{
	font-family: 'GongGothicMedium';
	font-size: 40px;
	color: #525ddd;
}



.find{
	border-radius: 50px;
    width: 15%;
    padding: 2px 30px;
    font-size: 20px;
}


.findidbox button{

    padding: 10px 15px;
    font-size: 15px;
    border-radius: 50px;
}



/* 아이디/비번 찾기 버튼 */


.find_btn{
	text-align: center;
}
.find_btn1{
	display :inline-block;
	padding: 3px 5px;
	font-size: 14px;
	background: #fafafa;
    box-shadow: -15px 15px 29px #b2b2b2, 15px -15px 29px #ffffff;
    border-radius: 50px;
}























